<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{{title}}</title>
        <meta name="description" content="{{summary}}">
        <link rel="canonical" href="{{url}}.html">

        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{url}}.html">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{summary}}">
    </head>

    

    <body>
        <div class="hero" data-theme="dark" style="background-color: #394046;">
            <!-- todo(Gustav): generate nav data -->
            <nav class="container-fluid">
                <ul>
                    <li><strong>My page</strong></li>
                </ul>
                <ul>
                    {{#roots}}
                    <li><a href="{{Url}}" {{#IsSelected}}role="button"{{/IsSelected}}>{{Name}}</a></li>
                    {{/roots}}
                </ul>
            </nav>
            <header class="container">
                <hgroup>
                    <h1>My page</h1>
                    <h2>summary</h2>
                </hgroup>
                <p>&nbsp;</p>
            </header>
        </div>
        <main class="container">